.product__images-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__images-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#product-images-swiper {
  width: 100%;
}

#product-thumb-swiper .product__card-img {
  object-fit: cover;
}

#product-thumb-swiper {
  position: sticky;
  bottom: 75px;
  z-index: 1;
  display: flex;
  border-radius: 8px;
  background: white;
  width: fit-content;
  height: auto;
  padding: 8px;
  overflow: visible;
}

#product-thumb-swiper .swiper-wrapper {
  gap: 4px;
  place-content: center;
  align-items: center;
  width: min-content;
  min-width: 60px;
  height: min-content;
  min-height: 60px;
  padding: 0;
  border-radius: 12px;
  overflow: visible;
}

#product-thumb-swiper .swiper-slide {
  flex: none;
  width: 60px !important;
  height: 60px;
  position: relative;
  border-radius: 6px;
  opacity: 0.4;
  overflow: hidden;
}

#product-thumb-swiper .swiper-slide:hover {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease;
}

#product-thumb-swiper .swiper-slide-thumb-active {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  #product-thumb-swiper {
    bottom: 3%;
  }
}
