@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #3b3b3b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: auto;
  /* scrollbar-width: none !important; */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  text-rendering: optimizelegibility;
}

body {
  font-size: 1.6rem;
  color: var(--primary-color);
  text-rendering: optimizeLegibility;
}

button,
[tabindex] {
  outline: none;
  border: none;
}

input {
  outline: none;
}

a[href] {
  text-decoration: none;
}

.font-sentient {
  font-family: var(--font-sentient);
}

.font-figtree {
  font-family: var(--font-figtree);
}
