/* Header scroll styles */
.header {
  transition: all 0.8s cubic-bezier(0.18, 0.71, 0.11, 1);
  will-change: transform, background-color, box-shadow;
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.headerScrolled {
  background-color: white;
  backdrop-filter: blur(0px);
  box-shadow: 0 0 10px 2px #b8b8b82b;
}

.headerHidden {
  transform: translateY(-105%);
  opacity: 0;
  pointer-events: none;
}

/* Menu list item styles */

.navbarMenuListItemLink:before {
  position: absolute;
  content: '';
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition: transform 0.3s ease;
  background: #3b3b3b;
  height: 0.95px;
  left: 0;
  pointer-events: none;
  top: 105%;
  width: 100%;
}

.navbarMenuListItemLink:hover:before {
  transform: scaleX(1);
  transform-origin: 0 50%;
}
