/* Header scroll styles */
.header {
  transition: all 0.8s cubic-bezier(0.18, 0.71, 0.11, 1);
  will-change: transform, background-color, box-shadow;
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.headerScrolled {
  background-color: white;
  backdrop-filter: blur(0px);
  box-shadow: 0 0 10px 2px #b8b8b82b;
}

.headerHidden {
  transform: translateY(-105%);
  opacity: 0;
  pointer-events: none;
}

/* Menu list item styles */
.navbarMenuListItemLink:before {
  position: absolute;
  content: '';
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition: transform 0.3s ease;
  background: #3b3b3b;
  height: 0.95px;
  left: 0;
  pointer-events: none;
  top: 105%;
  width: 100%;
}

.navbarMenuListItemLink[data-style='false']:before {
  background: white !important;
}

.navbarMenuListItemLink:hover:before {
  transform: scaleX(1);
  transform-origin: 0 50%;
}

/* Toggle menu styles */
.navbarHamburgerLine {
  transition:
    transform 0.8s cubic-bezier(0.18, 0.71, 0.11, 1),
    background 1s cubic-bezier(0.18, 0.71, 0.11, 1);
}

/* Nav menu mobile */
@media (max-width: 768px) {
  .navbarMenu {
    position: fixed;
    background: #fff;
    flex-direction: column;
    height: 100dvh;
    left: 0;
    padding: 15dvh 0px 20dvh;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: transform 0.8s cubic-bezier(0.18, 0.71, 0.11, 1);
  }

  button[aria-expanded='false'] ~ .navbarMenu {
    transform: translateX(-100%);
  }

  button[aria-expanded='true'] ~ .navbarMenu {
    transform: translateX(0);
  }

  .navbarHamburgerLine {
    transition:
      transform 0.8s cubic-bezier(0.18, 0.71, 0.11, 1),
      background 1s cubic-bezier(0.18, 0.71, 0.11, 1);
  }

  .navbarMenuList {
    flex-direction: column;
    gap: 20px;
    overflow: hidden auto;
  }
}
