#carousel-swiper {
  width: 100%;
  height: 100%;
}

#carousel-swiper .swiper-pagination {
  display: flex;
  gap: 2px;
  place-content: center;
  place-items: center;
  overflow: hidden;
  position: absolute;
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.2);
  width: fit-content !important;
  left: 50% !important;
  top: unset !important;
  transform: translateX(-50%);
  flex-direction: row;
  bottom: 32px !important;
  border-radius: 50px;
  padding: 8px 4px 8px 8px;
}

#carousel-swiper .swiper-pagination-bullet {
  border-radius: 50%;
  background: rgb(255, 255, 255);
  width: 8px;
  height: 8px;
  cursor: pointer;
  place-content: center;
  place-items: center;
  padding: 0;
  opacity: 0.5;
}

#carousel-swiper .swiper-pagination-bullet-active {
  opacity: 1;
  border-radius: 4px;
  width: 30px;
}

#carousel-swiper .swiper-navigation-icon {
  width: 16px !important;
  height: 16px !important;
  aspect-ratio: auto 16 / 16;
  fill: white;
  color: white;
}

#carousel-swiper .swiper-button-prev,
#carousel-swiper .swiper-button-next {
  top: 50%;
  transform: translateY(-50%);
  display: block;
  place-content: center;
  place-items: center;
  overflow: hidden;
  background: rgba(26, 28, 24, 0.3);
  margin: 0px;
  padding: 0px;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 1;
  pointer-events: auto;
  will-change: transform;
}

#carousel-swiper .swiper-button-prev {
  left: 48px !important;
}

#carousel-swiper .swiper-button-next {
  right: 48px !important;
}

@media screen and (max-width: 768px) {
  #carousel-swiper .swiper-button-prev,
  #carousel-swiper .swiper-button-next {
    display: none;
  }
}
